/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
*{
  margin:0;
  padding:0;
  width: auto;
  height: auto;
  font-family: 'Helvetica Neue', sans-serif;
  /* box-sizing: border-box; */
  /* height:100vh; */
  /* background-color: blue; */
}

/* 
1440px
min(0.014dvw,0.2px);
min(0.069dvw,1px) min(0.139dvw,2px)
min(0.208dvw,3px)
min(0.278dvw,4px);
min(0.347dvw,5px);
min(0.417dvw,6px);
min(0.556dvw,8px) min(0.833dvw,12px);
min(0.694dvw,10px);
min(0.833dvw,12px);
min(0.972dvw,14px);
min(1.111dvw,16px);
min(1.25dvw,18px);
min(1.389dvw,20px);
min(1.667dvw,24px);
min(1.944dvw,28px);
min(2.222dvw,32px);
min(2.5dvw,36px);
min(2.431dvw,35px);
min(2.778dvw,40px);
min(3.056dvw,44px);
min(3.333dvw,48px);
min(3.472dvw,50px);
min(3.611dvw,52px);
min(3.889dvw,56px);
min(4.167dvw,60px);
min(4.444dvw,64px);
min(5dvw,72px);
min(5.278dvw,76px);
min(5.556dvw,80px);
min(5.833dvw,84px);
min(6.111dvw,88px);
min(6.667dvw,96px);
min(6.944dvw,100px);
min(7.5dvw,108px);
min(8.056dvw,116px);
min(8.611dvw,124px);
min(8.889dvw,128px);
min(9.167dvw,132px);
min(9.722dvw,140px);
min(10.278dvw,148px);
min(10.417dvw,150px);
min(11.111dvw,160px);
min(13.333dvw,192px);
min(13.889dvw,200px);
min(15.833dvw,228px);
min(16.111dvw,232px);
min(17.361dvw,250px);
min(17.778dvw,256px);
min(18.333dvw,264px);
min(20.833dvw,300px);
min(21.667dvw,312px);
min(22.222dvw,320px);
min(22.5dvw,324px);
min(24.444dvw,352px);
min(25dvw,360px);
min(25.556dvw,368px);
min(25.833dvw,372px);
min(29.167dvw,420px);
min(31.111dvw,448px);
min(37.222dvw,536px);
min(37.5dvw,540px);
min(37.778dvw,544px);
min(41.667dvw,600px);
min(54.167dvw,780px);
min(61.944dvw,892px);
min(64.444dvw,928px);
min(77.778dvw,1120px);

744px
min(1.075dvw,8px);

432px
min(0.046dvw,0.2px);
min(0.231dvw,1px)
min(0.463dvw,2px)
min(0.694dvw,3px);
min(0.926dvw,4px);
min(1.852dvw,8px);
min(2.315dvw,10px);
min(2.778dvw,12px);
min(3.241dvw,14px);
min(4.167dvw,18px);
min(4.63dvw,20px);
min(5.556dvw,24px);
min(9.259dvw,40px);
min(10.185dvw,44px);
min(13.889dvw,60px);
min(46.296dvw,200px);
*/

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
